<div class="col-12 __center">
    <div class="card shadow col-lg-3 col-md-6 col-sm-8 col-xs-8">
        <div class="card-body col-12">
            <p class="text-center h4 mb-3">Login</p>
            <div [formGroup]="service.lognForm">

                <!-- -------------------------------- Email -------------------------------- -->
                <mat-form-field class="col-12 p-0 m-0" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>


                <!-- ------------------------------ Password ------------------------------- -->
                <mat-form-field class="col-12 p-0 m-0" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                        formControlName="password" (keyup.enter)="service.login()">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <p>Not registered yet? <a [routerLink]="['/signup']">Signup</a></p>
                <!-- ---------------------------- Login Button ----------------------------- -->
                <div>
                    <mat-progress-bar *ngIf="service.loading" mode="indeterminate"></mat-progress-bar>
                    <button class="col-12 p-0 m-0" mat-raised-button color="primary" (click)="service.login()"
                        [disabled]="service.loading">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>