<div class="__pos_relative">
    <div class="__pos_absoloute col-12 __ht_20_per d-flex align-items-center justify-content-center">
        <div class="col-12 mt-5">
            <mat-card>
                <mat-tab-group>
                    <mat-tab label="Buy"> </mat-tab>
                    <mat-tab label="Rent"> </mat-tab>
                    <mat-tab label="PG / Co-living"> </mat-tab>
                    <mat-tab label="Commercial"> </mat-tab>
                    <mat-tab label="Projects"> </mat-tab>
                    <mat-tab label="Dealers"> </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
    <video autoplay loop class="col-12">
        <source src="../../../../assets/videos/vid_1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>