<p>
    <mat-toolbar>
        <span>Real Estate</span>
        <span class="example-spacer"></span>

        <!-- Home -->
        <button mat-button><a class="_custom_link_txt_black" [routerLink]="['/']">Home</a></button>

        <!-- Contact -->
        <button mat-button><a class="_custom_link_txt_black" [routerLink]="['/contact']">Contact</a></button>

        <!-- About -->
        <button mat-button><a class="_custom_link_txt_black" [routerLink]="['/about']">About</a></button>

        <!-- Add Property -->
        <button mat-button>Add Property</button>

        <!-- Signup -->
        <button mat-flat-button color="primary"><a class="_custom_link_txt"
                [routerLink]="['/signup']">Signup</a></button>
    </mat-toolbar>
</p>