<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Real Estate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- Home -->
            <li class="nav-item active">
                <button mat-button><a class="__custom_link_txt_black" [routerLink]="['/']">Home</a></button>
            </li>

            <!-- Contact -->
            <li class="nav-item">
                <button mat-button><a class="__custom_link_txt_black" [routerLink]="['/contact']">Contact</a></button>
            </li>

            <!-- About -->
            <li class="nav-item">
                <button mat-button><a class="__custom_link_txt_black" [routerLink]="['/about']">About</a></button>
            </li>

            <!-- Add Property -->
            <li class="nav-item">
                <button mat-button>Add Property</button>
            </li>

            <!-- Signup -->
            <li class="nav-item">
                <button mat-flat-button color="primary" class="ml-2"><a class="__custom_link_txt"
                        [routerLink]="['/signup']">Signup</a></button>
            </li>
        </ul>
    </div>
</nav>