/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.__custom_link_txt{
    color: #FFFFFF;
}

.__custom_link_txt:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.__custom_link_txt_black{
    color: #212121;
}

.__custom_link_txt_black:hover{
    color: #212121;
    text-decoration: none;
}

.__center{
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
._f4{
  font-size: large;
}

._f5{
  font-size: larger;
}

._f6{
  font-size: 2rem;
}

._br2{
  border-radius: 10px;
}


